name: balena

on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: true
      matrix:
        fleet:
          [
            gh_klutchell/nextcloud-aarch64,
            gh_klutchell/nextcloud-amd64,
            gh_klutchell/nextcloud-armv7hf,
          ]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: balena-io/deploy-to-balena-action@1c920c28d2e4f4b2a00be2d0cfb37c6203e9cc49 # v2.0.109
        with:
          balena_token: ${{ secrets.BALENA_API_KEY }}
          fleet: ${{ matrix.fleet }}
