name: balena

on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: true
      matrix:
        fleet:
          [
            gh_klutchell/nextcloud-aarch64,
            gh_klutchell/nextcloud-amd64,
            gh_klutchell/nextcloud-armv7hf,
          ]

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: balena-io/deploy-to-balena-action@0eb7b6359148a2e822a72b2b802227cba3a7a588 # v2.0.57
        with:
          balena_token: ${{ secrets.BALENA_API_KEY }}
          fleet: ${{ matrix.fleet }}
